.head__logo {
  margin: 0 5px;
  width: 25px;
}

.menu {
  cursor: pointer;

  .hamburger_menu {
    font-size: 32px;
  }
}

.navbar {
  justify-content: flex-start;
}

.navbar-brand {
  align-items: center;
  display: flex;
  font-size: 24px;
}
