.head__navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 9999;

  &::after {
    bottom: -5px;
    box-shadow: inset 0px 4px 4px -2px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.navbar {
  justify-content: flex-start;

  .head__logo {
    margin-right: 5px;
    width: 25px;
  }

  .icon-block {
    cursor: pointer;
    margin-right: 4px;
    padding: 5px 10px;

    .icon {
      border-radius: 100%;
      font-size: 24px;
      padding: 4px 6px;
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
  }

  .navbar-brand {
    align-items: center;
    display: flex;
    font-size: 18px;
  }
}
