.leaflet-container {
  height: 100%;
  width: 100%;
}

.mapComponent {
  margin: 30px 12px;
  position: absolute;
  z-index: 500;

  &.bottom {
    bottom: 0;
  }
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
  }
  &.top {
    top: 0;
  }

  .btn {
    display: flex;
    justify-content: center;
    padding: 1px 8px;
  }
}

.mapContainer {
  height: 400px;
  width: 100%;
}
